@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
body{
    background-image: url(https://yolandamatiwane.github.io/hostedImages/images/pexels-codioful-7130560.jpg);
    background-size: cover;
    align-items: center;
    color: rgb(134, 9, 118);
}

#navbar{
    background-color: hsla(314, 66%, 76%, 0.218);
    height: 60px;
    
    
}
/* Home Page*/
#card{
    margin: 15%;
    background-color: rgba(207, 200, 203, 0.156);
    width: 80%;
    border: none;
}
.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid rgb(82, 197, 207); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(82, 197, 207); }
  }

/* About Page */
.aboutDetails{
    margin-top: 100px;
    border-right-color: black;
}


/* Projects Page */
#resContainer{
    margin: 10%;
    justify-content: center;
}
/* Resume Page */
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 58px);
    border-top: 2px solid #404247;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before{
    content: "";
    background: #404247;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: 0;
}
.main-timeline .timeline-content{
    color: #404247;
    text-align: center;
    padding: 15px 80px 15px 10px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ 
    text-decoration: none; 
    color: white;
}
.main-timeline .timeline-content:before{
    content: "";
    background: #00a6f9;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50px;
}
.main-timeline .timeline-year{
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: -15px;
}
.main-timeline .title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.main-timeline .description{
    font-size: 16px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: right; }
.main-timeline .timeline:nth-child(even):before{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 15px 10px 15px 80px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right: auto;
    left: 51px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: -15px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background: #ff3e7c; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background: #7438be; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background: #bdc203; }
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
}
License Terms