@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    text-align: center
}
body{
    background-image: url(https://yolandamatiwane.github.io/hostedImages/images/pexels-codioful-7130560.jpg);
    background-size: cover;
    align-items: center;
   
}

#navbar{
    background-color: hsla(314, 66%, 76%, 0.218);
    height: 60px;
    
}
/* Home Page*/
#card{
    margin: 15%;
    background-color: rgba(207, 200, 203, 0.156);
    width: 80%;
    border: none;
}
.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid rgb(82, 197, 207); 
    white-space: nowrap; 
    margin: 0 auto; /
    letter-spacing: .15em; 
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(82, 197, 207); }
  }

/* About Page */
.aboutDetails{
    margin-top: 100px;
    border-right-color: black;
}


/* Projects Page */
.container{
    margin: auto;
    justify-content: center;
}